altair==5.0.1
attrs==24.2.0
Babel==2.14.0
backcall==0.2.0
blinker==1.6.3
branca==0.8.0
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
cycler==0.11.0
debugpy==1.7.0
decorator==5.1.1
entrypoints==0.4
fiona==1.9.6
folium==0.16.0
fonttools==4.38.0
geopandas==0.10.2
gitdb==4.0.11
GitPython==3.1.43
idna==3.10
importlib-metadata==6.7.0
importlib-resources==5.12.0
ipykernel==6.16.2
ipython==7.34.0
jedi==0.19.2
jinja2==3.1.4
jsonschema==4.17.3
jupyter-client==7.4.9
jupyter-core==4.12.0
kiwisolver==1.4.5
markdown-it-py==2.2.0
MarkupSafe==2.1.5
matplotlib==3.5.3
matplotlib-inline==0.1.6
mdurl==0.1.2
nest-asyncio==1.6.0
numpy==1.23.5
setuptools>=67.0.0
wheel
pip>=24.3.1